@font-face {
                font-family: 'crusader';
                src: url('GlaserBeckerStencilRegular.ttf') format('truetype');
                font-style: normal;
            }
			@font-face {
                font-family: 'stencil';
                src: url('Stencil Regular.ttf') format('truetype');
                font-style: normal;
            }
            body {
                padding:10;
                background-color:#222222;
                font-family:arial;
                color:#00bd8b;
            }
            img {
                display:none;
            }
            input {
                width:200px;
                display:block;
                margin-bottom:5px;
            }
            #parameters input {
                display:inline;
                margin-bottom:5px;
            }
            table, th, td {
              border: 2px solid cyan;
              border-collapse: collapse;
            }
            select {
                width:150px;
            }
            button {
                padding:5px;
                margin-bottom:5px;
                background-color:transparent;
                color:aqua;
                border:2px solid cyan;
            }
			p {
				display:inline;
				margin-right:50px;
				margin-left:50px;
			}
			#parameters table,tr,td {
				border: 0px;
				border-collapse: collapse;
			}
			#profile table,tr,td {
				border: 0px;
				border-collapse: collapse;
			}
			hr {
				width:50%;
			}
			a {
				text-decoration: none;
				color:springgreen;
				font-family:arial;
            }
            #triggerAdder:hover {
                border-color: rgb(149, 216, 61);
            }
            #triggerAdder:active {
                color: red;
            }