@font-face {
    font-family: 'crusader';
    src: url('GlaserBeckerStencilRegular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'stencil';
    src: url('Stencil Regular.ttf') format('truetype');
    font-style: normal;
}

* {
    text-align: center;
    margin: 0;
}

body {
    padding: 10;
    background-color: #222222;
    font-family: arial;
    color: #ddd;
}

h1, h2, h3 {
    color: #00bd8b;
    margin-bottom: 1vh;
}

img {
    display: none;
}

input {
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 0.5vh;
}

#parameters input {
    display: inline;
    margin-bottom: 5px;
}

table, th, td {
    border: 2px solid cyan;
    border-collapse: collapse;
    margin: auto;
}

select {
    width: 150px;
}

button {
    padding: 5px;
    background-color: transparent;
    color: aqua;
    border: 2px solid cyan;
    display: block;
    margin: auto;
    margin-bottom: 1vh;
}

p {
    display: inline;
    margin-right: 50px;
    margin-left: 50px;
}

#parameters table, tr, td {
    border: 0px;
    border-collapse: collapse;
}

#profile table, tr, td {
    border: 0px;
    border-collapse: collapse;
}

hr {
    width: 75%;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

a {
    color: skyblue;
    font-family: arial;
}

#triggerAdder:hover {
    border-color: rgb(149, 216, 61);
}

#triggerAdder:active {
    color: red;
}

paramTable {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: auto;
    flex-wrap: wrap;
}

paramStat {
    width: 15vw;
}

paramStat label {
    display: block;
    margin-bottom: 0.3vh;
}

paramStat input {
    width: 80%;
}