@font-face {
    font-family: 'crusader';
    src: url('GlaserBeckerStencilRegular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'stencil';
    src: url('Stencil Regular.ttf') format('truetype');
    font-style: normal;
}

* {
    text-align: center;
    margin: 0;
}

body {
    padding: 10;
    background-color: #222222;
    font-family: arial;
    color: #ddd;
}

h1, h2, h3 {
    color: #00bd8b;
    margin-bottom: 1vh;
}

img {
    display: none;
}

input {
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 0.5vh;
}

#parameters input {
    display: inline;
    margin-bottom: 5px;
}

table, th, td {
    border: 2px solid cyan;
    border-collapse: collapse;
    margin: auto;
}

select {
    width: 150px;
}

button {
    padding: 5px;
    background-color: transparent;
    color: aqua;
    border: 2px solid cyan;
    margin: auto;
    margin-bottom: 1vh;
}

p {
    display: inline;
    margin-right: 50px;
    margin-left: 50px;
}

#parameters table, tr, td {
    border: 0px;
    border-collapse: collapse;
}

#profile table, tr, td {
    border: 0px;
    border-collapse: collapse;
}

hr {
    width: 75%;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

a {
    color: skyblue;
    font-family: arial;
}

#triggerAdder:hover {
    border-color: rgb(149, 216, 61);
}

#triggerAdder:active {
    color: red;
}

paramTable {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: auto;
    flex-wrap: wrap;
}

paramStat {
    width: 15vw;
}

paramStat label {
    display: block;
    margin-bottom: 0.3vh;
}

paramStat input {
    width: 80%;
}

/* CheckBox */
/* Customize the label (the checkContainer) */
.checkContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkContainer input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkContainer input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}